.sliding {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

/* TopAlbums.css */
.movie-details {
  display: flex;
  gap: 20px;
}

.movie-thumbnail {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  border-radius: 8px;
}

.movie-info {
  flex-grow: 1;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.watchLogo:hover  {
animation: pulse 0.5s infinite;
}



.ratedBox {
  width: 100%;
  border-radius: 7px;
}

.fullBox {
  margin: 0 10px;
}

.slideText {
  margin: 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  font-weight: 600;
  text-align: center;
}

#popular {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}


.boxIt {
  width: 100%;
}


.rowBox {
  margin: 10px;
}

@media (max-width: 767px) {

  /* specific to mobile devices */
.myBox {
  margin-bottom: 50px;
}
}